---
http_interactions:
- request:
    method: get
    uri: http://api.zeit.de/keyword?q=%2Arom%2A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-authorization:
      - working
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"matches\": [\n    {\n      \"score\": 3, \n      \"lexical\":
        \"Abramowitsch, Roman\", \n      \"uri\": \"http://api.zeit.de/keyword/roman-abramowitsch\",
        \n      \"value\": \"Roman Abramowitsch\", \n      \"href\": \"http://www.zeit.de/schlagworte/personen/roman-abramowitsch/index\",
        \n      \"type\": \"person\"\n    }, \n    {\n      \"href\": \"http://www.zeit.de/schlagworte/themen/andromeda-galaxie/index\",
        \n      \"type\": \"subject\", \n      \"uri\": \"http://api.zeit.de/keyword/andromeda-galaxie\",
        \n      \"value\": \"Andromeda-Galaxie\"\n    }, \n    {\n      \"href\":
        \"http://www.zeit.de/schlagworte/themen/burnout-syndrom/index\", \n      \"score\":
        3, \n      \"type\": \"subject\", \n      \"uri\": \"http://api.zeit.de/keyword/burnout-syndrom\",
 [...]
