---
http_interactions:
- request:
    method: get
    uri: http://api.zeit.de/content/3GbcIDjwbcH4DZKMZj0Ndd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-authorization:
      - working
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"creators\": [], \n  \"subtitle\": \"Der Internet-Unternehmer
        Kim Schmitz ist gegen Kaution aus der Haft in Neuseeland entlassen worden.
        Die US-Beh\\u00f6rden fordern seine Auslieferung.\", \n  \"title\": \"Megaupload-Gr\\u00fcnder
        Schmitz auf freiem Fu\\u00df\", \n  \"release_date\": \"2012-02-22T06:48:29.448Z\",
        \n  \"uri\": \"http://api.zeit.de/content/3GbcIDjwbcH4DZKMZj0Ndd\", \n  \"relations\":
        [\n    {\n      \"uri\": \"http://api.zeit.de/content/4124U35789iHpu3YREuMuR\",
        \n      \"rel\": \"related\", \n      \"name\": \"Megaupload-Gr\\u00fcnder
        Schmitz auf freiem Fu\\u00df\"\n    }, \n    {\n      \"uri\": \"http://api.zeit.de/content/2Bv3I8drnhQbAKQDIQJRmu\",
        \n      \"rel\": \"related\", \n      \"name\": \"Megaupload-Gr\\u00fcnder
        Schmitz auf freiem Fu\\u00df\"\n    }, \n    {\n      \"uri\": \"http://api.zeit.de/content/3BHrmpk6yYI6ziJWSY1Ch3\",
        \n      \"rel\": \"related\", \n      \"name\": \"Megaupload-Gr\\u00fcnder
        Schmitz auf freiem Fu\\u00df\"\n    }\n  ], \n  \"supertitle\": \"Filehoster\",
        \n  \"href\": \"http://www.zeit.de/digital/2012-02/schmitz-megaupload-freilassung\",
        \n  \"teaser_text\": \"Der Internet-Unternehmer Kim Schmitz ist gegen Kaution
        aus der Haft in Neuseeland entlassen worden. Die US-Beh\\u00f6rden fordern
        seine Auslieferung.\", \n  \"keywords\": [\n    {\n      \"uri\": \"http://api.zeit.de/keyword/kim-schmitz\",
        \n      \"rel\": \"person\", \n      \"name\": \"Kim Schmitz\"\n    }, \n
        \   {\n      \"uri\": \"http://api.zeit.de/keyword/film\", \n      \"rel\":
        \"subject\", \n      \"name\": \"Film\"\n    }, \n    {\n      \"uri\": \"http://api.zeit.de/keyword/musik\",
        \n      \"rel\": \"subject\", \n      \"name\": \"Musik\"\n    }, \n    {\n
        \     \"uri\": \"http://api.zeit.de/keyword/urheberrec[...]
