---
http_interactions:
- request:
    method: get
    uri: http://api.zeit.de/author/Helmut-Schmidt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-authorization:
      - working
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"matches\": [\n    {\n      \"subtitle\": \"Deswegen d\\u00fcrfen
        die Deutschen jetzt nicht nur an sich denken. Ein Warnruf\", \n      \"uuid\":
        \"7z8hazQFfUmkBHChZACBtu\", \n      \"title\": \"\\\"Die Europ\\u00e4ische
        Union kann scheitern\\\"\", \n      \"href\": \"http://www.zeit.de/2012/40/Westfaelischer-Friedenspreis-Helmut-Schmidt\",
        \n      \"release_date\": \"2012-09-27T06:00:00Z\", \n      \"uri\": \"http://api.zeit.de/content/7z8hazQFfUmkBHChZACBtu\",
        \n      \"supertitle\": \"Krisenpolitik\", \n      \"teaser_title\": \"Europa
        k\\u00f6nnte an Deutschland scheitern\"\n    }, \n    {\n      \"subtitle\":
        \"Wir wollen unsere nationalen Identit\\u00e4ten bewahren, doch an der europ\\u00e4ischen
        Integration f\\u00fchrt kein Weg vorbei.\", \n      \"uuid\": \"20CXAQn8FdjBk4fQEtVGSF\",
        \n      \"title\": \"\\\"Weltmacht wird Europa nicht\\\"\", \n      \"href\":
        \"http://www.zeit.de/2012/28/Schmidt-Rede-Warburg-Preis\", \n      \"release_date\":
        \"2012-07-05T06:00:00Z[...]
