---
http_interactions:
- request:
    method: get
    uri: http://api.zeit.de/client
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-authorization:
      - working
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"reset\": 1354046555, \n  \"name\": \"Roland Moriz\", \n  \"quota\":
        10000, \n  \"tier\": \"free\", \n  \"requests\": 61, \n  \"api_key\": \"working\",
        \n  \"email\": \"roland@moriz.de\"\n}"
  recorded_at: Tue, 27 Nov 2012 20:09:58 GMT
recorded_with: VCR 2.3.0
