---
http_interactions:
- request:
    method: get
    uri: http://api.zeit.de/client
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-authorization:
      - working
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"reset\": 1353785293, \n  \"name\": \"xx\", \n  \"quota\":
        10000, \n  \"tier\": \"free\", \n  \"requests\": 163, \n  \"api_key\": \"working\",
        \n  \"email\": \"xx\"\n}"
  recorded_at: Sun, 25 Nov 2012 01:25:28 GMT
recorded_with: VCR 2.3.0
