---
http_interactions:
- request:
    method: get
    uri: http://api.zeit.de/content?q=Kim+Schmitz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-authorization:
      - working
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"matches\": [\n    {\n      \"subtitle\": \"Der neuseel\\u00e4ndische
        Geheimdienst hat dabei geholfen, Megaupload-Gr\\u00fcnder Kim Schmitz zu finden.
        Legal war das nicht, der Premier k\\u00fcndigte eine Untersuchung an.\", \n
        \     \"uuid\": \"6sSrNHdDZhrVn1rF8T2O3J\", \n      \"title\": \"Neuseelands
        Geheimdienst spionierte Kim Dotcom aus\", \n      \"href\": \"http://www.zeit.de/digital/internet/2012-09/schmitz-dotcom-untersuchung\",
        \n      \"release_date\": \"2012-09-24T08:30:49.657Z\", \n      \"uri\": \"http://api.zeit.de/content/6sSrNHdDZhrVn1rF8T2O3J\",
        \n      \"snippet\": \"Neuseelands Premier John Key ist \\\"ziemlich geschockt\\\"
        dar\\u00fcber, wie der neuseel\\u00e4ndische Geheimdienst bei der Ermittlung
        gegen <em>Kim</em> <em>Schmitz</em>, den Gr\\u00fcnder von Megaupload, die
        Polizei unterst\\u00fctzt hat. Die\", \n      \"supertitle\": \"Megaupload\",
        \n      \"teaser_title\": \"Neuseelands Geheimdienst spionierte Kim Dotcom
        aus\"\n    }, \n    {\n      \"subtitle\": \"Neuseel\\u00e4ndische Gerichte
        nehmen den Fall Megaupload auseinander. Der Durchsuchungsbeschluss hatte Formfehler.
        Kim Schmitz sammelt derweil Unterst\\u00fctzer.\", \n      \"uuid\": \"7mMVCq9xQB1pro5f9DtRZC\",
        \n      \"title\": \"Durchsuchung bei Kim Schmitz war illegal\", \n      \"href\":
        \"http://www.zeit.de/digital/internet/2012-06/kim-schmitz-durchsuchun[...]
