---
http_interactions:
- request:
    method: get
    uri: http://api.zeit.de/department/internet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-authorization:
      - working
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"parent\": \"http://api.zeit.de/department/digital\", \n  \"matches\":
        [\n    {\n      \"subtitle\": \"Die Fernmeldeunion ITU h\\u00e4lt Proteste
        gegen ihre geplanten Beschl\\u00fcsse f\\u00fcr m\\u00f6glich. Eine Gegenkampagne
        soll das verhindern und Kritik an ihren Pl\\u00e4nen abschw\\u00e4chen.\",
        \n      \"uuid\": \"gpmSXUgSb4EHQ8IYAPQBP\", \n      \"title\": \"Fernmeldeunion
        f\\u00fcrchtet Proteste wie gegen Acta\", \n      \"href\": \"http://www.zeit.de/digital/internet/2012-11/itu-wcit-dubai-acta\",
        \n      \"release_date\": \"2012-11-27T15:27:03Z\", \n      \"uri\": \"http://api.zeit.de/content/gpmSXUgSb4EHQ8IYAPQBP\",
        \n      \"snippet\": \" Internetverwaltung an sich ziehen w\\u00fcrde.\\nDie
        Regulierung des Netzes wird derzeit von diversen nicht-staatlichen Organisationen
        wie der <em>Internet</em> Society, Icann oder dem World Wide Web Consortium
        W3C \\u00fcbernommen\", \n      \"supertitle\": \"WCIT-Treffen in Dubai\",
        \n      \"teaser_title\": \"Fernmeldeunion f\\u00fcrchtet Proteste wie gegen
        Acta\"\n    }, \n    {\n      \"subtitle\": \"Die obersten Telefon-Regulierer
        der ITU wollen nun auch das Internet kontrollieren. Das EU-Parlament warnt:
        Die Freiheit des Netzes w\\u00e4re damit in Gefahr.\", \n      \"uuid\": \"1oEV07sTXt91XY4KkV7BuK\",
        \n      \"title\": \"EU f\\u00fcrchtet um Freiheit und Grundrechte im Netz\",
        \n      \"href\": \"http://www.zeit.de/digital/internet/2012-11/itu-dubai-n[...]
