---
http_interactions:
- request:
    method: get
    uri: http://api.zeit.de/author?q=%2ASchmidt%2A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-authorization:
      - working
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"matches\": [\n    {\n      \"type\": \"author\", \n      \"uri\":
        \"http://api.zeit.de/author/Werner-A.-Schmidt-Haeuer\", \n      \"value\":
        \"Werner A. Schmidt-Haeuer\"\n    }, \n    {\n      \"type\": \"author\",
        \n      \"uri\": \"http://api.zeit.de/author/Dietber-Schmidt\", \n      \"value\":
        \"Dietber Schmidt\"\n    }, \n    {\n      \"type\": \"author\", \n      \"uri\":
        \"http://api.zeit.de/author/Us-Verteidigungsminister-Laird-und-sein-Bonner-Kollege-Schmidt---Europa-erh\\u00e4lt-wieder-absolute-Priorit\\u00e4t------Aufnahme:-d-pa\",
        \n      \"value\": \"Us-Verteidigungsminister Laird [...]
